@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-weight: 500;
  line-height: 100%;
  color: #f9f9f9;
}
main {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
}

@layer utilities {
  .wrapper {
    @apply w-full max-w-[1376px] mx-auto p-[20px] md:p-[32px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .link_after {
    @apply absolute bottom-[-8px] left-[50%] translate-x-[-50%] w-[110%] h-[3px] rounded-[8px] bg-blue-600;
  }
}
